@font-face {
    font-family: PierSans;
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/PPPierSans-Regular.otf);
}
@font-face {
    font-family: PierSans;
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/PPPierSans-Bold.otf);
}
@font-face {
    font-family: PierSans;
    font-weight: normal;
    font-style: italic;
    src: url(../fonts/PPPierSans-Italic.otf);
}
@font-face {
    font-family: PierSans;
    font-weight: bold;
    font-style: italic;
    src: url(../fonts/PPPierSans-BoldItalic.otf);
}

body{
    background-color: #ffa340;
    margin: 0;
    font-family: PierSans ,Arial, Helvetica, sans-serif;
}

.square{
    background-color: #007ca8;
    border-radius: 10px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
}

.nav_links li, a{
    font-family: PierSans, sans-serif;
    font-weight: bold;
    color: #f8f8f8;
    text-decoration: none;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #09B585;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: #007ca8;
}

.book_list li{
    font-family: PierSans, sans-serif;
    font-weight: bold;
    color: #f8f8f8;
    text-decoration: none;
    list-style: none;
    background-color: #007ca8;
    padding: 15px;
    border: solid 3px #0A5FBF;
    border-radius: 20px;
    margin: 5px 0;
    cursor: pointer;
}

.book_list{
    padding: 5px;
}

#blist{
    width: 50vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .square{
        width: 80vw;
        margin: 20% 10%;
    }
    
        .square:after {
            content: "";
            display: block;
            padding-bottom: 15%;
        }
    
    .square_small{
        background-color: #007ca8;
        width: 30vw;
        border-radius: 10px;
        margin: 5% 7%;
        display: inline-block;
    }
    
        /* .square_small:after {
            content: "";
            display: block;
            padding-bottom: 0%;
        } */
    
        .square_small h1{
            margin: 0;
            font-family: PierSans ,Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 1.2em;
        }
        
        .square_small a{
            color: #f8f8f8;
            text-decoration: none;
            width: 100%;
        }
        
            .square_small a:visited{
                color: #f8f8f8;
                text-decoration: none;
                width: 100%;
            }
    
    .wrapper{
        text-align: center;
    }
    .container{
        text-align: center;
        width: 80%;
        margin: 0 10%;
    }
    
    button{
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
        background-color: #092DB5;
        border: none;
        cursor: pointer;
        color: #f8f8f8;
        font-family: PierSans ,Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    
        button:hover{
            opacity: 0.8;
        }
    
    input[type=text], input[type=password]{
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
    }
    
    .separator {
        display: flex;
        align-items: center;
        text-align: center;
        color: #f8f8f8;
        font-family: PierSans ,Arial, Helvetica, sans-serif;
        font-weight: bold;
      }
      
      .separator::before,
      .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #f8f8f8;
      }
      
      .separator:not(:empty)::before {
        margin-right: .25em;
      }
      
      .separator:not(:empty)::after {
        margin-left: .25em;
      }
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .icon{
        width: 80%;
        margin: 5px;
    }
    
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    #logo{
        padding-top: 2vh;
        margin-bottom: 2vh;
    }
    
    #cont_init{
        width: 100%;
        text-align: center;
        max-height: 100%;
    }
    #cont_init .center{
        width: 100%;
    }
    
    img{
        max-width: 100%;
        max-height: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .square{
        width: 60vw;
        margin: 10% 20%;
    }
    
        .square:after {
            content: "";
            display: block;
            padding-bottom: 15%;
        }
    
    .square_small{
        background-color: #007ca8;
        width: 18vw;
        border-radius: 10px;
        margin: 0 5%;
        display: inline-block;
    }
    
        .square_small:after {
            content: "";
            display: block;
            padding-bottom: 0%;
        }
    
    .square_small h1{
        margin: 0;
        font-family: PierSans ,Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.2em;
    }
    
    .square_small a{
        color: #f8f8f8;
        text-decoration: none;
        width: 100%;
    }
    
    .square_small a:visited{
        color: #f8f8f8;
        text-decoration: none;
        width: 100%;
    }
    
    .wrapper{
        text-align: center;
    }
    .container{
        text-align: center;
        width: 80%;
        margin: 0 10%;
    }
    
    button{
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
        background-color: #092DB5;
        border: none;
        cursor: pointer;
        color: #f8f8f8;
        font-family: PierSans ,Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    
        button:hover{
            opacity: 0.8;
        }
    
    input[type=text], input[type=password]{
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
    }
    
    .separator {
        display: flex;
        align-items: center;
        text-align: center;
        color: #f8f8f8;
        font-family: PierSans ,Arial, Helvetica, sans-serif;
        font-weight: bold;
      }
      
      .separator::before,
      .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #f8f8f8;
      }
      
      .separator:not(:empty)::before {
        margin-right: .25em;
      }
      
      .separator:not(:empty)::after {
        margin-left: .25em;
      }
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .icon{
        width: 80%;
        margin: 5px;
    }
    
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    #logo{
        padding-top: 2vh;
        margin-bottom: 2vh;
    }
    
    #cont_init{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    #cont_init .center{
        width: 100%;
    }
    
    img{
        max-width: 100%;
        max-height: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .square{
        width: 50vw;
        margin: 10% 25%;
    }
    
        .square:after {
            content: "";
            display: block;
            padding-bottom: 15%;
        }
    
    .square_small{
        background-color: #007ca8;
        width: 18vw;
        border-radius: 10px;
        margin: 0 5%;
        display: inline-block;
    }
    
        .square_small:after {
            content: "";
            display: block;
            padding-bottom: 0%;
        }
    
    .square_small h1{
        margin: 0;
        font-family: PierSans ,Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 150%;
    }
    
    .square_small a{
        color: #f8f8f8;
        text-decoration: none;
        width: 100%;
    }
    
    .square_small a:visited{
        color: #f8f8f8;
        text-decoration: none;
        width: 100%;
    }
    
    .wrapper{
        text-align: center;
    }
    .container{
        text-align: center;
        width: 80%;
        margin: 0 10%;
    }
    
    button{
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
        background-color: #092DB5;
        border: none;
        cursor: pointer;
        color: #f8f8f8;
        font-family: PierSans ,Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    
        button:hover{
            opacity: 0.8;
        }
    
    input[type=text], input[type=password]{
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
    }
    
    .separator {
        display: flex;
        align-items: center;
        text-align: center;
        color: #f8f8f8;
        font-family: PierSans ,Arial, Helvetica, sans-serif;
        font-weight: bold;
      }
      
      .separator::before,
      .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #f8f8f8;
      }
      
      .separator:not(:empty)::before {
        margin-right: .25em;
      }
      
      .separator:not(:empty)::after {
        margin-left: .25em;
      }
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .icon{
        width: 80%;
        margin: 5px;
    }
    
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    #logo{
        padding-top: 2vh;
        margin-bottom: 2vh;
    }
    
    #cont_init{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    #cont_init .center{
        width: 100%;
    }
    
    img{
        max-width: 100%;
        max-height: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .square{
        width: 40vw;
        margin: 10% 30%;
    }
    
        .square:after {
            content: "";
            display: block;
            padding-bottom: 15%;
        }
    
    .square_small{
        background-color: #007ca8;
        width: 18vw;
        border-radius: 10px;
        margin: 0 5%;
        display: inline-block;
    }
    
        .square_small:after {
            content: "";
            display: block;
            padding-bottom: 0%;
        }
    
    .square_small h1{
        margin: 0;
        font-family: PierSans ,Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 2em;
    }
    
    .square_small a{
        color: #f8f8f8;
        text-decoration: none;
        width: 100%;
    }
    
    .square_small a:visited{
        color: #f8f8f8;
        text-decoration: none;
        width: 100%;
    }
    
    .wrapper{
        text-align: center;
    }
    .container{
        text-align: center;
        width: 80%;
        margin: 0 10%;
    }
    
    button{
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
        background-color: #092DB5;
        border: none;
        cursor: pointer;
        color: #f8f8f8;
        font-family: PierSans ,Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    
        button:hover{
            opacity: 0.8;
        }
    
    input[type=text], input[type=password]{
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
    }
    
    .separator {
        display: flex;
        align-items: center;
        text-align: center;
        color: #f8f8f8;
        font-family: PierSans ,Arial, Helvetica, sans-serif;
        font-weight: bold;
      }
      
      .separator::before,
      .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #f8f8f8;
      }
      
      .separator:not(:empty)::before {
        margin-right: .25em;
      }
      
      .separator:not(:empty)::after {
        margin-left: .25em;
      }
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .icon{
        width: 80%;
        margin: 5px;
    }
    
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    #logo{
        padding-top: 2vh;
        margin-bottom: 2vh;
    }
    
    #cont_init{
        width: 100%;
        text-align: center;
        margin: auto;
    }

    #cont_init .center{
        width: 100%;
    }
    
    img{
        max-width: 100%;
        max-height: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .square{
        width: 30vw;
        margin: 10% 35%;
    }
    
        .square:after {
            content: "";
            display: block;
            padding-bottom: 15%;
        }
    
    .square_small{
        background-color: #007ca8;
        width: 18vw;
        border-radius: 10px;
        margin: 0 5%;
        display: inline-block;
    }
    
        .square_small:after {
            content: "";
            display: block;
            padding-bottom: 0%;
        }
    
    .square_small h1{
        margin: 0;
        font-family: PierSans ,Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 2em;
    }
    
    .square_small a{
        color: #f8f8f8;
        text-decoration: none;
        width: 100%;
    }
    
    .square_small a:visited{
        color: #f8f8f8;
        text-decoration: none;
        width: 100%;
    }
    
    .wrapper{
        text-align: center;
    }
    .container{
        text-align: center;
        width: 80%;
        margin: 0 10%;
    }
    
    button{
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
        background-color: #092DB5;
        border: none;
        cursor: pointer;
        color: #f8f8f8;
        font-family: PierSans ,Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    
        button:hover{
            opacity: 0.8;
        }
    
    input[type=text], input[type=password]{
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
    }
    
    .separator {
        display: flex;
        align-items: center;
        text-align: center;
        color: #f8f8f8;
        font-family: PierSans ,Arial, Helvetica, sans-serif;
        font-weight: bold;
      }
      
      .separator::before,
      .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #f8f8f8;
      }
      
      .separator:not(:empty)::before {
        margin-right: .25em;
      }
      
      .separator:not(:empty)::after {
        margin-left: .25em;
      }
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .icon{
        width: 80%;
        margin: 5px;
    }
    
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    #logo{
        padding-top: 2vh;
        margin-bottom: 2vh;
    }
    
    #cont_init{
        width: 100%;
        text-align: center;
        margin: auto;
    }

    #cont_init .center{
        width: 100%;
    }
    
    img{
        max-width: 100%;
        max-height: 100%;
    }
}

