body {
  margin: 0;
  padding: 0;
  background-color: orange;
  background-image: url(../img/bg.jpg);
}

body .center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .big_sqr {
  width: 70vw;
  background-color: #f8f8f8;
  text-align: center;
  border: solid #8d8d8d 1px;
  border-radius: 10px;
}

body .big_sqr div {
  width: 40%;
  margin: 5% auto;
}

body .big_sqr div img {
  width: 100%;
}

body .big_sqr .button {
  width: 90%;
  background-color: #007bff;
  padding: 2% 0;
  border-radius: 10px;
}

body .big_sqr .button a {
  color: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
}

body .big_sqr .button a :visited {
  color: #242424;
}

body .big_sqr .button:hover {
  background-color: #0064cf;
  cursor: pointer;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

body .big_sqr .dados p {
  color: #242424;
  font-size: .8em;
}

body .big_sqr .profile_btn {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}

body .big_sqr .profile_btn .button {
  width: 45%;
}

body .big_sqr .profile_btn .button a {
  color: #f8f8f8;
  font-size: .8em;
}

body .big_sqr .profile_btn div {
  display: inline-block;
}

body .big_sqr p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #242424;
  margin: 0;
}

body .big_sqr input[type=text], body .big_sqr input[type=password] {
  width: 90%;
  border: solid 1px #242424;
  padding: 1% 0;
  font-family: sans-serif;
}

body .big_sqr .formItem {
  width: 100%;
  margin: 0;
}

body .big_sqr .formItem label {
  display: block;
  text-align: left;
  margin-left: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

body .big_sqr .formItem input[type=text], body .big_sqr .formItem input[type=password] {
  text-align: center;
}

body .big_sqr button {
  width: 91%;
  padding: 1% 0;
  margin-top: 20px;
  background-color: #007bff;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #f8f8f8;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}

body .big_sqr button:hover {
  background-color: #0064cf;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

body .big_sqr .wrapper {
  width: 30%;
  margin: 0 auto;
}

body .big_sqr #comments {
  width: 90%;
}

body .big_sqr #comments textarea {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

body .big_sqr::after {
  content: '';
  display: block;
  padding-bottom: 0%;
  max-height: 95%;
}

body .container {
  width: 100vw;
  text-align: center;
}

body .container .small_sqr {
  background-color: #f8f8f8;
  width: 55%;
  margin: 20% auto;
  border: solid #8d8d8d 1px;
  border-radius: 50px;
  text-align: center;
}

body .container .small_sqr .wrapper {
  width: 70%;
  margin: 10px auto;
}

body .container .small_sqr .wrapper img {
  width: 100%;
}

body .container .small_sqr h1 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #242424;
}

body .container .small_sqr a {
  text-decoration: none;
}

body .container .small_sqr::after {
  content: '';
  display: block;
  padding-bottom: 0%;
}

body .container .small_sqr:hover {
  background-color: #a8a8a8;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

body .container .three {
  width: 45%;
  margin: 3% auto;
  padding: 10px;
}

body .container .three .wrapper {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

body .container .big_sqr {
  width: 80%;
  margin: 5% auto;
}

body .container .requisitos {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

body .container .requisitos h1 {
  margin: 3% 0;
}

body .container .requisitos ul, body .container .requisitos p {
  margin: 0 5% 3% 5%;
  text-align: justify;
}

body .container .requisitos ul {
  margin: 0;
  margin-right: 5%;
}

body .container .requisitos .button {
  padding: 2%;
}

body .circle {
  width: 80%;
  padding: 5%;
  background-color: #f8f8f8;
  border: solid #242424 5px;
  border-radius: 50%;
}

body .circle img {
  width: 100%;
}

body #fotoPerfil {
  width: 30%;
}

body #empresa_icon {
  padding: 8%;
  margin: 0 auto;
}

body .roundC {
  border-radius: 50px;
  background-color: #f8f8f8;
}

body .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8;
  margin-bottom: 10px;
}

body .navbar .button {
  width: 30%;
  background-color: #007bff;
  padding: 1%;
  margin: 0 1%;
  border-radius: 10px;
  text-align: center;
}

body .navbar .button a {
  color: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
}

body .navbar .button a :visited {
  color: #242424;
}

body .navbar .button:hover {
  background-color: #0064cf;
  cursor: pointer;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

body .navbar #logoMeus {
  width: 15%;
}

body .navbar #logoMeus img {
  width: 100%;
}

body .meusLivros {
  width: 100vw;
  text-align: center;
}

body .meusLivros div {
  width: 100%;
  margin: auto;
}

body .meusLivros .details {
  width: 90%;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 0px;
  visibility: hidden;
  overflow: hidden;
  margin: 0% auto;
  border: solid 1px #8d8d8d;
}

body .meusLivros .details .wrapper {
  width: 45%;
  display: inline-block;
}

body .meusLivros .details .avaliacao {
  width: 45%;
  margin: 2%;
  text-align: center;
}

body .meusLivros .details .avaliacao #download {
  width: 30%;
}

body .meusLivros .details .avaliacao .button {
  background-color: #007bff;
  width: 100%;
  border-radius: 10px;
}

body .meusLivros .details .avaliacao .button:hover {
  background-color: #0064cf;
  cursor: pointer;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

body .meusLivros .details .avaliacao .aprovacao {
  margin: 5% 0;
  padding: 3% 0;
}

body .meusLivros .details .avaliacao a {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: #f8f8f8;
}

body .meusLivros .details .avaliacao a:visited {
  color: #f8f8f8;
}

body .meusLivros button {
  width: 100%;
  padding: 1%;
  border: solid 1px #8d8d8d;
  background-color: #f8f8f8;
  color: #0000cd;
  border-radius: 50px;
  cursor: pointer;
}

body .meusLivros button:hover {
  background-color: #a8a8a8;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body .big_sqr p {
    font-size: 2em;
  }
  body .big_sqr .button {
    border-width: 7px;
  }
  body .big_sqr .button a {
    font-size: 2em;
  }
  body .big_sqr input[type=text], body .big_sqr input[type=password] {
    font-size: 1.5em;
  }
  body .big_sqr .formItem label {
    font-size: 1.5em;
  }
  body .big_sqr .dados p {
    font-size: 1em;
  }
  body .big_sqr .profile_btn .button {
    width: 40%;
    display: inline-block;
    margin: 0;
  }
  body .big_sqr .profile_btn .button a {
    font-size: 1em;
  }
  body .big_sqr button {
    font-size: 1.5em;
  }
  body .container .three {
    font-size: .8em;
    width: 40%;
  }
  body .container .requisitos h1 {
    font-size: 2em;
  }
  body .container .requisitos ul {
    font-size: 1em;
  }
  body .container .requisitos p {
    font-size: 1em;
  }
  body .navbar #logoMeus {
    width: 10%;
  }
  body .navbar .button a {
    font-size: 1.2em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body .container .small_sqr h1 {
    font-size: 2em;
  }
  body .container .requisitos ul {
    font-size: 1.5em;
  }
  body .container .requisitos p {
    font-size: 1.5em;
  }
  body .meusLivros button {
    font-size: 1.5em;
  }
  body .meusLivros .details {
    font-size: 1.5em;
  }
  body .big_sqr .dados p {
    font-size: 1.5em;
  }
  body .big_sqr .profile_btn .button {
    width: 40%;
    display: inline-block;
    margin: 0;
  }
  body .big_sqr .profile_btn .button a {
    font-size: 1.5em;
  }
  body .navbar .button a {
    font-size: 1.5em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body .big_sqr {
    width: 40vw;
  }
  body .big_sqr p {
    font-size: 2.5em;
  }
  body .big_sqr .button a {
    font-size: 2.5em;
  }
  body .big_sqr input[type=text], body .big_sqr input[type=password] {
    font-size: 2em;
  }
  body .big_sqr button {
    font-size: 2em;
  }
  body .big_sqr .dados p {
    font-size: 2em;
  }
  body .big_sqr .profile_btn .button {
    width: 40%;
    display: inline-block;
    margin: 0;
  }
  body .big_sqr .profile_btn .button a {
    font-size: 2em;
  }
  body .container .small_sqr h1 {
    padding: 5% 0;
    font-size: 3em;
  }
  body .container .three {
    font-size: .9em;
  }
  body .container .big_sqr {
    width: 65%;
  }
  body .container .requisitos h1 {
    font-size: 2.5em;
  }
  body .container .requisitos ul {
    font-size: 1.8em;
  }
  body .container .requisitos p {
    font-size: 1.8em;
  }
  body .container .requisitos .button {
    margin: 2% auto;
  }
  body .meusLivros .details {
    font-size: 1.8em;
  }
  body .navbar #logoMeus {
    width: 8%;
  }
  body .navbar .button a {
    font-size: 1.8em;
  }
}

@media only screen and (min-width: 1900px) {
  body {
    background-size: cover;
  }
  body .big_sqr {
    width: 40vw;
    border-radius: 20px;
  }
  body .big_sqr p {
    font-size: 3em;
  }
  body .big_sqr .button {
    border-width: 10px;
  }
  body .big_sqr .button a {
    font-size: 3em;
  }
  body .big_sqr input[type=text], body .big_sqr input[type=password] {
    font-size: 2.5em;
  }
  body .big_sqr button {
    font-size: 2.5em;
  }
  body .big_sqr .dados p {
    font-size: 3em;
  }
  body .big_sqr .profile_btn .button {
    width: 40%;
    display: inline-block;
    margin: 0;
  }
  body .big_sqr .profile_btn .button a {
    font-size: 3em;
  }
  body .big_sqr #comments textarea {
    font-size: 2em;
  }
  body .container .small_sqr h1 {
    font-size: 5em;
  }
  body .container .three {
    font-size: .8em;
  }
  body .container .big_sqr {
    width: 80%;
    margin: 3% auto;
  }
  body .container .requisitos h1 {
    font-size: 3em;
    margin: 1% 0;
  }
  body .container .requisitos ul {
    font-size: 2em;
  }
  body .container .requisitos p {
    font-size: 2em;
  }
  body .container .requisitos .button {
    margin: 2% auto;
  }
  body .navbar #logoMeus {
    width: 8%;
  }
  body .navbar .button a {
    font-size: 2.5em;
  }
  body .meusLivros button {
    font-size: 3em;
  }
  body .meusLivros .details {
    font-size: 3em;
  }
}

@media screen and (orientation: landscape) {
  body .container .small_sqr {
    display: inline-block;
    width: 30%;
    margin: auto 5%;
  }
  body .container .three {
    display: inline-block;
    width: 20%;
    margin: auto 3%;
  }
  body .container .three .wrapper {
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  body .big_sqr {
    width: 40vw;
  }
  body .meusLivros .details {
    width: 80%;
  }
  body .meusLivros .details .wrapper {
    width: 30%;
    display: inline-block;
    margin: 3% 0;
  }
  body .meusLivros .details .detalhes {
    width: 65%;
    display: inline-block;
  }
}

@media screen and (orientation: portrait) and (min-height: 1000px) {
  body .container .small_sqr h1 {
    font-size: 4em;
  }
}

img {
  max-width: 100%;
}
/*# sourceMappingURL=style.css.map */