body{
    background-color: #eaeaea;
    margin: 0;

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .arrow {
        border: solid #717070;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    .hide{
        display: inline-block;
    }
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin-bottom: 3px;
    }
    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        margin-bottom: 0;
    }
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .wrapper{
        img{
            max-width: 100%;
            width: 100%;
        }
    }
    .pg{
        width: 100vw;
    }
    .container{
        width: 100%;
        text-align: center;
    }
    .button{
        background-color: #e4c5e4;
        padding: .5rem;
        border-radius: 5px;
        text-align: center;

        a{
            color: #717070;
            text-decoration: none;
            font-family: sans-serif;
            font-weight: bold;
            font-size: 1em;
        }
    }
    .button:hover{
        cursor: pointer;
        background-color: #c5a3c5;

        transition: ease 300ms;
    }
    .aprovar{
        background-color: #CEE3C3;
    }
    .aprovar:hover{
        background-color: #B7C9AD;
        transition: ease 300ms;
    }
    .reprovar{
        background-color: #E3ACAD;
    }
    .reprovar:hover{
        background-color: #C9999A;
        transition: ease 300ms;
    }
    .form-type{
        display: inline-block;
        width: 50%;
        text-align: left;

        select{
            display: block;
            width: 100%;
            font-family: sans-serif;
            font-size: 1em;
            font-weight: bold;
            border: none;
            margin: auto;
            margin-top: 10px;
        }
    }
    .account{
        width: 50%;
        margin: auto;
        text-align: left;
        
        max-height: 0px;
        overflow: hidden;
        color: #717070;
        
        .form-input{
            margin-top: 10px;
            font-family: sans-serif;
            font-size: 1em;
            font-weight: bold;
            input{
                width: 100%;
                font-size: 1em;
            }
        }
        button{
            width: 100%;
            margin-top: 10px;
            border: none;
            background-color: #e4c5e4;
            padding: 5px;
            font-family: sans-serif;
            font-size: 1em;
            font-weight: bold;
            color: #717070;
            border-radius: 5px;
        }
        button:hover{
            background-color: #c5a3c5;
            cursor: pointer;

            transition: ease 300ms;
        }
    }
    .main-header{
        padding: 1rem;
        height: 70px;
        background-color: #e4c5e4;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .main-nav{
            #nav-icon{
                div {
                    width: 35px;
                    height: 5px;
                    background-color: black;
                    margin: 6px 0;
                }
            }
            #menu{
                position: absolute;
                width: 100%;
                left: 0px;
                top: 70px;
                background-color: #e4c5e4;
                display: none;
                .item-nav{
                    padding: 1rem 10px;
                    margin: 0 1rem;
                    #subnav{
                        display: none;
                        .subitem{
                            padding: 1rem ;
                        }
                        .subitem:hover{
                            background-color: #c5a3c5;

                            transition: ease 300ms;
                        }
                    }
                    #subnav.active{
                        display: block;
                    }
                }
                .item-nav:hover{
                    background-color: #c5a3c5;
            
                    transition: ease 300ms;
                }
                li, a{
                    text-decoration: none;
                    color: #717070;
                    font-family: sans-serif;
                    font-weight: bold;
                    font-size: 1em;
                }
                #novo.padbot{
                    padding-bottom: 0;
                }
            }
            #menu.active{
                display: block;
            }
        }
        ul{
            list-style: none;
        }
    }
    .avaliacao{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #book-list{
        display: block;
        text-align: center;
        width: 100%;
        .book{
            width: 90%;
            margin: 1rem 5%;
            .book-btn{
                background-color: #e4c5e4;
                border-radius: 20px;
    
                p{
                    font-family: sans-serif;
                    font-weight: bold;
                    font-size: 1em;
                    color: #717070;
                }
            }
            .book-btn:hover{
                cursor: pointer;
                background-color: #c5a3c5;
        
                transition: ease 300ms;
            }
            .description{
                display: none;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                margin: auto;
    
                .capa{
                    width: 45%;
                }
                .text{
                    width: 55%;
                    padding-left: 1rem;
    
                    h1, p{
                        font-family: sans-serif;
                    }
                    p{
                        text-align: justify;
                    }
                }
            }
            #book1.active{
                display: flex;
            }
            #book2.active{
                display: flex;
            }
        }
    }
    #book-types{
        width: 100vw;
        display: block;

        .instructions{
            text-align: center;
            padding: 1rem;
            font-family: sans-serif;

            #arquivos{
                text-align: center;
            }
        }
    }

    #logo{
        width: 50%;
        margin: auto;
    }
    #login-btn, #cadastro-btn{
        width: 50%;
        margin: auto;
    }
    #cadastro-btn{
        margin-top: 10px;
    }
    #logo-ntxt{
        width: 30%;
        margin: auto;
    }
    #nav-logo{
        width: 20%;
    }
    #tipos{
        width: 100%;
        margin: 0;
        font-size: 1em;
        padding: 1rem 0;
        border: none;
    }
    #send{
        width: 50%;
        margin: auto;
    }
    #download1, #download2{
        display: none;
        margin: .5rem 0;
    }
    #download1.active, #download2.active{
        display: grid;
    }
}

@media screen and (orientation: landscape) {
    body{
        #logo, #login-btn, #cadastro-btn{
            width: 30%;
        }
        #nav-logo{
            width: 10%;
        }
    }
}
@media screen and (min-width: 768px) {
    body{
        #logo, #cadastro-btn, #login-btn{
            width: 30%;
        }
        .form-type select, .account input{
            padding: 5px;
        }
        .main-header{
            height: auto;
            padding: .5rem 1rem;
            .main-nav{
                #nav-icon{
                    div{
                        display: none;
                    }
                }
                #menu{
                    display: flex;
                    position: relative;
                    top: 0px;
                    left: none;
                    .item-nav{
                        #subnav{
                            position: absolute;
                            left: 0px;
                            top: 3rem;
                            background-color: #e4c5e4;
                            .subitem{

                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 992px) {
    body{
        .button{
            a{
                font-size: 1.5em;
            }
        }
        .account{
            font-size: 1.5em;
        }
        .form-type select, .account input{
            font-size: 1.5em;
        }
        #book-list{
            .book{
                .description{
                    width: 80%;
                }
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    body{
        font-size: 1.7em;
        .form-type select, .account input{
            font-size: 1.7em;
        }
        .arrow {
            border-width: 0 5px 5px 0;
            padding: 5px;
        }
        .main-header{
            .main-nav{
                #menu{
                    .item-nav{
                        #subnav{
                            top: 4rem;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1900px) {
    body{
        font-size: 3em;
        .form-type select, .account input{
            font-size: 3em;
        }
        .account{
            button{
                margin-top: 20px;
                padding: 10px;
                border-radius: 10px;
            }
        }
        .arrow {
            border-width: 0 8px 8px 0;
            padding: 8px;
        }
        .main-header{
            padding: 1rem;
            .main-nav{
                #menu{
                    .item-nav{
                        margin: 0 2rem;

                        #subnav{
                            left: 1rem;
                            top: 6rem;
                        }
                    }
                }
            }
        }

        #menu li{
            margin: 0 2rem;
        }
    }
}