body {
  background-color: #eaeaea;
  margin: 0;
}

body * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .arrow {
  border: solid #717070;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

body .hide {
  display: inline-block;
}

body .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 3px;
}

body .up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-bottom: 0;
}

body .center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .wrapper img {
  max-width: 100%;
  width: 100%;
}

body .pg {
  width: 100vw;
}

body .container {
  width: 100%;
  text-align: center;
}

body .button {
  background-color: #e4c5e4;
  padding: .5rem;
  border-radius: 5px;
  text-align: center;
}

body .button a {
  color: #717070;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
}

body .button:hover {
  cursor: pointer;
  background-color: #c5a3c5;
  -webkit-transition: ease 300ms;
  transition: ease 300ms;
}

body .form-type {
  display: inline-block;
  width: 50%;
  text-align: left;
}

body .form-type select {
  display: block;
  width: 100%;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  border: none;
  margin: auto;
  margin-top: 10px;
}

body .account {
  width: 50%;
  margin: auto;
  text-align: left;
  max-height: 0px;
  overflow: hidden;
  color: #717070;
}

body .account .form-input {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
}

body .account .form-input input {
  width: 100%;
  font-size: 1em;
}

body .account button {
  width: 100%;
  margin-top: 10px;
  border: none;
  background-color: #e4c5e4;
  padding: 5px;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #717070;
  border-radius: 5px;
}

body .account button:hover {
  background-color: #c5a3c5;
  cursor: pointer;
  -webkit-transition: ease 300ms;
  transition: ease 300ms;
}

body .main-header {
  padding: 1rem;
  height: 70px;
  background-color: #e4c5e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main-header .main-nav #nav-icon div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

body .main-header .main-nav #menu {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 70px;
  background-color: #e4c5e4;
  display: none;
}

body .main-header .main-nav #menu .item-nav {
  padding: 1rem 10px;
  margin: 0 1rem;
}

body .main-header .main-nav #menu .item-nav #subnav {
  display: none;
}

body .main-header .main-nav #menu .item-nav #subnav .subitem {
  padding: 1rem;
}

body .main-header .main-nav #menu .item-nav #subnav .subitem:hover {
  background-color: #c5a3c5;
  -webkit-transition: ease 300ms;
  transition: ease 300ms;
}

body .main-header .main-nav #menu .item-nav #subnav.active {
  display: block;
}

body .main-header .main-nav #menu .item-nav:hover {
  background-color: #c5a3c5;
  -webkit-transition: ease 300ms;
  transition: ease 300ms;
}

body .main-header .main-nav #menu li, body .main-header .main-nav #menu a {
  text-decoration: none;
  color: #717070;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
}

body .main-header .main-nav #menu #novo.padbot {
  padding-bottom: 0;
}

body .main-header .main-nav #menu.active {
  display: block;
}

body .main-header ul {
  list-style: none;
}

body #book-list {
  display: block;
  text-align: center;
  width: 100%;
}

body #book-list .book {
  width: 90%;
  margin: 1rem 5%;
}

body #book-list .book .book-btn {
  background-color: #e4c5e4;
  border-radius: 20px;
}

body #book-list .book .book-btn p {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #717070;
}

body #book-list .book .book-btn:hover {
  cursor: pointer;
  background-color: #c5a3c5;
  -webkit-transition: ease 300ms;
  transition: ease 300ms;
}

body #book-list .book .description {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  margin: auto;
}

body #book-list .book .description .capa {
  width: 45%;
}

body #book-list .book .description .text {
  width: 55%;
  padding-left: 1rem;
}

body #book-list .book .description .text h1, body #book-list .book .description .text p {
  font-family: sans-serif;
}

body #book-list .book .description .text p {
  text-align: justify;
}

body #book-list .book #book1.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #book-list .book #book2.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #book-types {
  width: 100vw;
  display: block;
}

body #logo {
  width: 50%;
  margin: auto;
}

body #login-btn, body #cadastro-btn {
  width: 50%;
  margin: auto;
}

body #cadastro-btn {
  margin-top: 10px;
}

body #logo-ntxt {
  width: 30%;
  margin: auto;
}

body #nav-logo {
  width: 20%;
}

body #tipos {
  width: 100%;
  margin: 0;
}

@media screen and (orientation: landscape) {
  body #logo, body #login-btn, body #cadastro-btn {
    width: 30%;
  }
  body #nav-logo {
    width: 10%;
  }
}

@media screen and (min-width: 768px) {
  body #logo, body #cadastro-btn, body #login-btn {
    width: 30%;
  }
  body .form-type select, body .account input {
    padding: 5px;
  }
  body .main-header {
    height: auto;
    padding: .5rem 1rem;
  }
  body .main-header .main-nav #nav-icon div {
    display: none;
  }
  body .main-header .main-nav #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 0px;
    left: none;
  }
  body .main-header .main-nav #menu .item-nav #subnav {
    position: absolute;
    left: 0px;
    top: 3rem;
    background-color: #e4c5e4;
  }
}

@media screen and (min-width: 992px) {
  body .button a {
    font-size: 1.5em;
  }
  body .account {
    font-size: 1.5em;
  }
  body .form-type select, body .account input {
    font-size: 1.5em;
  }
  body #book-list .book .description {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 1.7em;
  }
  body .form-type select, body .account input {
    font-size: 1.7em;
  }
  body .arrow {
    border-width: 0 5px 5px 0;
    padding: 5px;
  }
  body .main-header .main-nav #menu .item-nav #subnav {
    top: 4rem;
  }
}

@media screen and (min-width: 1900px) {
  body {
    font-size: 3em;
  }
  body .form-type select, body .account input {
    font-size: 3em;
  }
  body .account button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
  }
  body .arrow {
    border-width: 0 8px 8px 0;
    padding: 8px;
  }
  body .main-header {
    padding: 1rem;
  }
  body .main-header .main-nav #menu .item-nav {
    margin: 0 2rem;
  }
  body .main-header .main-nav #menu .item-nav #subnav {
    left: 1rem;
    top: 6rem;
  }
  body #menu li {
    margin: 0 2rem;
  }
}
/*# sourceMappingURL=style.css.map */