body{
    background-color: #116466;
    color: #FFCB9A;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: pir;
}

body a{
    text-decoration: none;
}

@font-face {
    src: url(fonts/PirataOne-Regular.ttf);
    font-family: pir;
}

.SImage{
    float: left;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.gallery{
    width: 80%;
    margin: 10%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(3, 33.3%);
    grid-gap: 15px;
}

    .gallery_item--1{
        margin: 0;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .gallery_item--2{
        margin: 0;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .gallery_item--3{
        margin: 0;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .gallery_item--4{
        margin: 0;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .gallery_item--5{
        margin: 0;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .gallery_item--6{
        margin: 0;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .gallery_item--7{
        margin: 0;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .gallery_item--8{
        margin: 0;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .gallery_item--9{
        margin: 0;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .gallery_img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

.box{
    width: 250px;
    height: 150px;
    border: 1px solid #333;
    margin-left: 20px;
}

.clr{
    clear: both;
}

#main{
    text-align: center;
}

    #main h1{
        font-size: 30px;
    }

    #main p{
        margin-left: 15%;
        margin-right: 15%;
        font-size: 26px;
    }

#main-header{
    text-align: center;
    font-size: 50px;
}

    #main-header h1{
        margin: 0px;
    }

    #main-header h3{
        margin: 0px;
        margin-bottom: 5px;
        color: #D9B08C;
    }

.nav{
    background-color: #2C3531;
}

    .nav ul{
        list-style: none;
        background: #2C3531;
        color: #ebecf0;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .nav li{
        display: inline-block;
    }

    .nav a{
        text-decoration: none;
        color: #116466;
        width: 100px;
        display: block;
        padding: 15px;
        font-size: 26px;
        font-family: pir;
        transition: 0.4s;
    }

#pedra{
    font-size: 26px;
}

#main-footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 585px;
    color: #2C3531;
    text-align: center;
}

#footer2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #2C3531;
    text-align: center;
}

.box_item{
    display: flex;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #2C3531;
    width: 80%;
    height: 100px;
    text-align: center;
    margin-bottom: 10px;
}

.box_item:hover{
    font-size: 0;
}

.box_item:hover:after{
    content: attr(data-hover);
    font-size: 24px;
    line-height: 28px;
    color: #FFCB9A;
}

.box_item div{
    width: 96px;
    height: 96px;
    background-image: url(../Reliquias/imgs/lock.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#credit{
    text-align: center;
}

.btn-group button {
    background-color: #2C3531; /* Green background */
    border: 1px solid #2C3531; /* Green border */
    color: #FFCB9A; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    margin: 3% auto 10px auto;
    font-family: pir;
    font-size: 38px;
    height: 100px;
    width: 40%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #2C3531;
  }

@media (max-width: 880px){
    .SImage{
        float: none;
    }

    #pedra{
        text-align: center;
    }

    .btn-group button {
        background-color: #2C3531; /* Green background */
        border: 1px solid #2C3531; /* Green border */
        color: #FFCB9A; /* White text */
        padding: 10px 24px; /* Some padding */
        font-size: 38px;
        cursor: pointer; /* Pointer/hand icon */
        margin: 10px auto 10px auto;
        height: 100px;
        width: 40%; /* Set a width if needed */
        display: inline; /* Make the buttons appear below each other */
    }
}